body, html {
  padding: 0;
  margin: 0;
}

a, a:hover {
    text-decoration: none;
}

#header {
  background-color: #27DBE8;
  height: 100px;
}

#title {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 30px;
  letter-spacing: 2px;
  display: inline-block;
  float: left;
}

#title a {
  color: white;
}

.nav {
  text-transform: uppercase;
  display: inline-block;
  float: right;
  margin-right: 200px;
}

.nav .li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 38px;
  padding-right: 30px;
  border-right: 2px solid white;
}

.nav .li:last-child {
  border-right: none;
}

.nav .li a {
  color: white;
  font-size: 22px;
  padding: 12px;
  padding-bottom: 5px;
  border-radius: 8px;
}

.nav .li a:hover {
  border-bottom: 3px solid white;
  border-radius: 0;
}

#section {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
}

.article {
  display: inline-block;
  float: left;
  width: 65%;
  padding: 20px;
  background-color: #f0f2f1;
  border-radius: 20px;
}

.aside {
  float: right;
  display: inline-block;
  width: 30%;
  height: 320px;
  text-align: center;
  background-color: #27DBE8;
  border-radius: 11px;
  color: white;
  padding: 15px;
}

#footer {
  background-color: #27DBE8;
  display: inline-block;
  width: 100%;
  color: white;
  text-align: center;
}

#footer p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#copyright {
  margin-bottom: 0px;
  padding-top: 20px;
}

#made_by {
  padding-bottom: 10px;
}
